<!DOCTYPE html>
<html lang="pt-br">
  <!-- Head -->
  <head>
    <% include ../views/partials/head %>
  </head>

  <!-- Content -->
  <body class="container">
    <header>
      <% include ../views/partials/header %>
    </header>
    <main>
      <div class="jumbotron">
        <h1><%= title %></h1>
        <p>Welcome to templating using EJS</p>
      </div>
    </main>

    <!-- Footer -->
    <footer>
      <% include ../views/partials/footer %>
    </footer>
  </body>
</html>